OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
AI_SERVICE_HOST=127.0.0.1
AI_SERVICE_PORT=8000
APP_ENV=development
AI_SERVICE_TOKEN=6aDBWw3CuzJERCz0ukeC98aV2/uDkCoFuwCj6RmzVqE=
AI_REQUEST_TIMEOUT_SECONDS=30
SENTRY_DSN=https://fd715e4be736e18129d3b38266fe083b@o4512219394015232.ingest.us.sentry.io/4512219410726912
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.0
